{{#light-table table as |t|}}
    {{#if showHeader}}
        {{t.head onColumnClick=(action 'onColumnClick')}}
    {{/if}}

    {{#t.body canExpand=true as |body|}}
        {{#body.expanded-row as |row|}}
            {{#if row.isExpandable}}
                {{! TODO: use a stylesheet }}
                <div style='padding-left: 20px' class='folder-contents'>
                    {{file-browser-subtree
                    root=row
                    sort=sort
                    showHeader=false
                    }}
                </div>
            {{/if}}
        {{/body.expanded-row}}

        {{#if isLoading}}
            {{#body.loader}}
                {{! TODO: use a stylesheet }}
                <div style='padding-left: 20px' class='folder-contents'>
                    Loading...
                </div>
            {{/body.loader}}
        {{else}}
            {{#if table.isEmpty}}
                {{#body.no-data}}
                    {{! TODO: use a stylesheet }}
                    <div style='padding-left: 20px' class='folder-contents'>
                        (empty)
                    </div>
                {{/body.no-data}}
            {{/if}}
        {{/if}}
    {{/t.body}}
{{/light-table}}
