<div class="citation-widget">
    <div class="f-w-xl">APA</div>
    <span>{{apa}} </span>
    <div class="f-w-xl m-t-md">MLA</div>
    <span> {{mla}} </span>
    <div class="f-w-xl m-t-md">Chicago</div>
    <span> {{chicago}} </span>
</div>
