<h3>Comments</h3>

{{comment-form addComment=attrs.addComment}}

{{#each comments as |comment|}}
    {{comment-detail
    comment=comment
    editComment=attrs.editComment
    deleteComment=attrs.deleteComment
    restoreComment=attrs.restoreComment
    reportComment=attrs.reportComment}}
{{else}}
    (none)
{{/each}}


