<h3>Comments</h3>

{{comment-form submitComment=attrs.addComment}}

{{#each comments as |comment|}}
    {{comment-detail
    comment=comment
    resource=resource
    addComment=attrs.addComment
    editComment=attrs.editComment
    deleteComment=attrs.deleteComment
    restoreComment=attrs.restoreComment
    reportComment=attrs.reportComment}}
{{/each}}
