<h3>Comments</h3>
<ul>
    {{#each model.comments as |comment|}}
        {{comment-detail
        comment=comment
        editComment=attrs.editComment
        deleteComment=attrs.deleteComment
        restoreComment=attrs.restoreComment
        reportComment=attrs.reportComment}}
    {{else}}
        (none)
    {{/each}}
</ul>

{{comment-form target=model}}