{{!Copied from Ember-SHARE}}
<div class='date-range'>
    {{fa-icon 'calendar'}}
    {{pickerValue}}
    <span aria-label={{t 'eosf.components.searchFacetDaterange.modifyDate'}}>
        {{fa-icon 'caret-down' class='pull-right' ariaHidden=false}}
    </span>
</div>
