.osf-gravatar > img {
    border: 1px solid #CDCDCD;
    border-radius: 13px;
    margin-right: 5px;
}

/* Overrides font-size and position of user name / gravatar */
button.nav-user-dropdown {
    padding-right: 0;
    font-size: 16px;
    margin-top: 9px;
}
