.vert-align .form-group {
    margin-top: 15px;
}

.bib-padding {
    text-align: center;
}

td {
    border-top: 1px solid #ddd;

}

.col-division {
    padding-left: 20px;
    border-left: 1px solid #ccc;
}

.search-box {
    padding-top: 20px;
}
