.banner {
    // background: #3B9DD4;
    width: 100%;
}

.banner-lg {
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 12.5%;
}

.banner-sm {
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 22.5%;
}
