.eosf-file-widget-box {
  border: 2px solid dark-grey;
  border-radius: 5px;
  background-color: #EEE;
  padding: 20px;

  .dropzone-box {
    margin: 5px;
  }

  .login-button, .select-project-button {
    width: 100%;
    height: 150px;
    margin: 5px;
    text-align: center;
  }
}
