<div class='file-widget-box'>
    <div class="row">
        <div class="col-sm-6">
            <div class="dropzone-box">
                {{dropzone-widget preUpload=preUpload buildUrl=buildUrl listeners=dropzoneListeners options=dropzoneOptions}}
            </div>
        </div>
        <div class="col-sm-6">
            FILE SELECTOR
        </div>
    </div>
</div>
