<li class="file-version">
    <div><label>ID: </label> {{model.id}}</div>
    <div><label>Size: </label> {{model.size}}</div>
    <div><label>Content type: </label> {{model.contentType}}</div>
</li>
{{yield}}
