$sizes : ('xs', 'sm', 'md', 'lg', 'xl');
$margins : (5, 10, 15, 25, 50);
$spinnerSize : (10, 20, 30, 50, 75);
$weights : (200, 300, 400, 500, 600);

/* Defaults */
$radius : 2px;
$bg-light : #f8f8f8;
$border-light : 1px solid #eee;
