// Internal Styles
@import 'components/discover-page/style';
@import 'components/donate-banner/style';
@import 'components/eosf-project-nav/style';
@import 'components/faceted-search/style';
@import 'components/file-browser/style';
@import 'components/file-widget/style';
@import 'components/navbar-auth-dropdown/style';
@import 'components/new-osf-navbar/style';
@import 'components/osf-mode-footer/style';
@import 'components/osf-navbar/style';
@import 'components/query-syntax/style';
@import 'components/search-dropdown/style';
@import 'components/search-facet-daterange/style';
@import 'components/search-facet-source/style';
@import 'components/search-facet-worktype-button/style';
@import 'components/search-facet-worktype-hierarchy/style';
@import 'components/search-facet-worktype/style';
@import 'components/search-result/style';
@import 'components/sign-up/style';
@import 'components/tags-widget/style';
