

<div id="projectBanner" >
    <header class="subhead" id="overview">
        <nav id="projectSubnav" class="navbar osf-project-navbar" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".project-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars fa-lg"></span>
                    </button>
                    <a class="navbar-brand visible-xs" href="${node['url']}">
                        {{projectLabel}} Navigation
                    </a>
                </div>
                <div class="collapse navbar-collapse project-nav">
                    <ul class="nav navbar-nav">

                    % if parent_node['id']:

                        % if parent_node['can_view'] or parent_node['is_public'] or parent_node['is_contributor']:
                            <li><a href="${parent_node['url']}" data-toggle="tooltip" title="${parent_node['title']}" data-placement="bottom" style="padding: 12px 17px;"> <i class="fa fa-level-down fa-rotate-180"></i>  </a></li>

                        % else:
                            <li><a href="#" data-toggle="tooltip" title="Parent project is private" data-placement="bottom" style="cursor: default"> <i class="fa fa-level-down fa-rotate-180 text-muted"></i>  </a></li>
                        % endif

                    % endif
                        <li>
                            <a href="${node['url']}"  class="project-title">
                                ${ node['title'] }
                            </a>
                        </li>
                    % if not node['is_retracted']:
                        <li id="projectNavFiles">
                            <a href="${node['url']}files/">
                                Files
                            </a>
                        </li>
                        <!-- Add-on tabs -->
                        % for addon in addons_enabled:

                            % if addons[addon]['has_page']:
                                <li>
                                    <a href="${node['url']}${addons[addon]['short_name']}">

                                        % if addons[addon]['icon']:
                                            <img src="${addons[addon]['icon']}" class="addon-logo"/>
                                        % endif
                                        ${addons[addon]['full_name']}
                                    </a>
                                </li>
                            % endif
                        % endfor

                        % if node['is_public'] or user['is_contributor']:
                            <li><a href="${node['url']}analytics/">Analytics</a></li>
                        % endif

                        % if not node['is_registration'] and not node['anonymous']:
                            <li><a href="${node['url']}registrations/">Registrations</a></li>
                        % endif

                        % if not node['anonymous']:
                            <li><a href="${node['url']}forks/">Forks</a></li>
                        %endif

                        % if user['is_contributor']:
                            <li><a href="${node['url']}contributors/">Contributors</a></li>
                        % endif

                        % if user['has_read_permissions'] and not node['is_registration'] or (node['is_registration'] and 'admin' in user['permissions']):
                            <li><a href="${node['url']}settings/">Settings</a></li>
                        % endif
                    % endif
                    % if user['can_comment'] or node['has_comments']:
                        <li id="commentsLink">
                            <a href="" class="visible-xs cp-handle" data-bind="click:removeCount" data-toggle="collapse" data-target="#projectSubnav .navbar-collapse">
                                Comments
                                <span data-bind="if: unreadComments() !== 0">
                                    <span data-bind="text: displayCount" class="badge"></span>
                                </span>
                           </a>
                       </li>
                    % endif

                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>
