.dropdown-menu.share-popover {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    min-width: initial;
    min-height: initial;
    width: 105px;
    height: 36px;
    margin-right: 30px;
    top: -11px;
    text-align: center;
}

.btn-link.share-popover-button:hover, .btn-link.share-popover-button:focus{
    text-decoration: none;
}

.share-popover:after, .share-popover:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.share-popover:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
    border-width: 8px;
    margin-top: -8px;
}

.share-popover:before {
    border-color: rgba(204, 204, 204, 0);
    border-left-color: #ccc;
    border-width: 9px;
    margin-top: -9px;
}
