{{!Copied from Ember-SHARE}}
<div>
    <h4> Refine your search by </h4>
    {{#each facets as |facet|}}
        <div class='panel panel-default'>
            <div class='panel-heading'>
                {{facet.title}}
            </div>
            <div class='panel-body individual-facet'>
                {{component facet.component
                key=facet.key
                options=facet
                aggregations=aggregations
                state=(get facetStates facet.key)
                filter=(get facetFilters facet.key)
                updateFilters=updateFilters
                activeFilters=activeFilters
                onChange=(action 'facetChanged')
                data=facet.data}}
            </div>
        </div>
    {{/each}}
</div>




