{{!Copied from Ember-SHARE}}
{{#each facets as |facet|}}
    <div class='panel panel-default'>
        <div class='panel-heading'>
            {{facet.title}}
        </div>
        <div class='panel-body'>
            {{component facet.component
            key=facet.key
            options=facet
            aggregations=aggregations
            state=(get facetStates facet.key)
            filter=(get facetFilters facet.key)
            onChange=(action 'facetChanged')}}
        </div>
    </div>
{{/each}}


