<div class='row locked-items text-center'>
    {{#each options.locked_items as |lockedItem|}}
        <button type="button" class="btn btn-default disabled">{{lockedItem}}</button>
    {{/each}}
</div>
