@import "ember-power-select";
@import "log-detail/style";

#main {
    min-height: 500px;
}


body {
    position: relative;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
