@import "ember-power-select";
@import "ember-osf";

#main {
    min-height: 500px;
}


body {
    padding-top: 50px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
