.growl-box {
    z-index: 10311;
    display: inline-block;
    margin: 0px auto;
    position: fixed;
    top: 20px;
    right: 20px;
    transition: all 0.5s ease-in-out;
    animation-iteration-count: 1;
    
    .alert {
        margin-bottom: 5px;
    }
}