<div class='growl-box pull-right'>
    {{#each growler.growls as | growl |}}
        <div class="alert alert-{{growl.type}}" role="alert">
            {{growl.message}}
            {{#if growl.dismissable}}
                <button class='close' {{action 'dismiss' growl}}>{{fa-icon 'times'}}</button>
            {{/if}}
        </div>
    {{/each}}
</div>