.file-browser {
    a {
        cursor: pointer;
    }

    .breadcrumb {
        margin-bottom: 0;
    }

    .heading {
        padding: 8px 15px;
        list-style: none;
    }

    .file-browser-list {
        position: relative;
        height: 500px;
    }

    .file-browser-item {
        height: 30px;
        padding: 8px 15px;
        list-style: none;
    }

    .file-browser-item.selected {
        background-color: #E0EBF3;
    }

    .file-browser-item:hover {
        background-color: #E0EBF3; /* $color-hover; */
    }

    .file-browser-icon {
        width: 3em;
        display: inline-block;
        cursor: pointer;
        text-align: right;
    }

    .selected {
        background-color: #337AB7; /* $color-select; */
    }
}
