.file-browser .file-list {
    position: relative;
    border: 1px solid black;
    height: 400px;
    width: 305px;
}

.file-browser .file-list .file-browser-item {
    border: 1px solid black;
}

.file-browser .file-browser-icon {
    width: 3em;
    display: inline-block;
    cursor: pointer;
    text-align: right;
}

.file-browser .selected {
    background-color: #eee;
}
