.file-browser {
    a {
        cursor: pointer;
    }

    .breadcrumb {
        margin-bottom: 0;
    }

    .heading {
        list-style: none;
    }

    .file-browser-list {
        position: relative;
        height: 500px;
    }

    .file-browser-item {
        height: 30px;
        // padding: 8px 15px;
        // list-style: none;
        a {
            color: black;
        }
    }

    .file-browser-item.selected,
    .file-browser-item.selected:hover {

        background-color: #337AB7;
        color: white;
        a {
            color: white;
        }
    }

    .file-browser-item:hover {
        background-color: #E0EBF3; /* $color-hover; */
        color: black;
        a: {
            color: inherit;
        }
    }

    .file-browser-icon {
        width: 3em;
        display: inline-block;
        cursor: pointer;
        text-align: right;
    }
}
