.file-browser {
    .file-list {
        position: relative;
        border: 1px solid gray;
        height: 400px;
        width: 305px;
    }

    .file-browser-item {
        height: 30px;
    }

    .file-browser-item:hover {
        background-color: #ddd
    }

    .file-browser-icon {
        width: 3em;
        display: inline-block;
        cursor: pointer;
        text-align: right;
    }

    .selected {
        background-color: #eee;
    }
}
