{{#if mutable}}
    {{! TODO: show available actions for selected files }}
{{/if}}

{{! TODO: filter by name (requires fetching entire file tree?) }}

<table class='table table-condensed'>
    <thead>
        {{! TODO: configurable columns, click to sort }}
        <tr>
            <th>Files</th>
        </tr>
    </thead>
    {{file-browser-tree
    root=rootNode
    expanded=true
    selectedPath=selectedPath
    onClickFile=onClickFile
    onClickNode=onClickNode}}
</table>
