<ol class='breadcrumb'>
    {{#each breadcrumbs as |item|}}
        <li>
            <a {{action 'navigateToItem' item}}>
                {{item.fileName}}
            </a>
        </li>
    {{/each}}
</ol>

{{#if selectedItems}}
    {{! TODO: show available actions for selected files }}
{{/if}}

<div class='file-list'>
    {{#ember-collection items=items
            cell-layout=(fixed-grid-layout itemWidth itemHeight)
            as |item index|}}
        {{file-browser-item item=item
            selectedItems=selectedItems
            navigateToItem=(action 'navigateToItem')
            selectItem=(action 'selectItem')
            openItem=(action 'openItem')
        }}
    {{/ember-collection}}
</div>
