.osf-gravatar>img {
    border: 1px solid #CDCDCD;
    border-radius: 13px;
    margin-right: 5px;
}

a.navbar-service::before {
    content: "/";
    padding-right: 8px;
    color: #ccc;
}

#navbarScope a.nav-user-dropdown {
    padding-top: 12px;
    padding-bottom: 11px;
}

#navbarScope .btn-top-signup {
    padding: 2px 20px;
    margin-top: 5px;
    line-height: 1.7;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

#navbarScope .btn-top-login {
    padding: 2px 30px;
    margin-top: 5px;
    line-height: 1.7;
}
