.osf-gravatar>img {
    border: 1px solid #CDCDCD;
    border-radius: 13px;
    margin-right: 5px;
}

a.navbar-service::before {
    content: "/";
    padding-right: 8px;
    color: #ccc;
}

#navbarScope a.nav-user-dropdown {
    padding-top: 12px;
    padding-bottom: 11px;
}
