{{!-- app/templates/login.hbs --}}
{{!-- TODO: Deal with hardcoded urls, eg exposing property through the controller (alias? one way binding?) --}}
<form action="http://localhost:8080/login?service=http://localhost:5000/&amp;auto=true" method="POST">
    <pre>
    Login flow:
      1. This form sends to CAS
      2. Then CAS redirects to this app's cookielogin url, so the ember authorizer can immediately pick off the ticket
      3. The ember authorizer then sends an ajax request to the OSF so a cookie can be set

    Tricky bit: the ember app and the OSF must run on the same port, so that the authorizer request doesn't trigger a CORS error when hitting the OSF
    This is problematic, because we need to serve the ember app (for redirect from CAS) at ~same time OSF is running to respond to the ajax call

    These are two separate servers (unless we build and dump into an OSF static folder somewhere)

    staging url: action="https://staging-accounts.osf.io/login?service=http://localhost:4200/cookielogin/&amp;auto=true"
    </pre>

    <label for="identification">Login</label>
    {{input id='username' name='username' placeholder='Enter Login' value=identification}}
    <label for="password">Password</label>
    {{input id='password' name='password' placeholder='Enter Password' type='password' value=password}}
    <button type="submit">Login</button>
    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}
</form>