& {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #263947;
    color: white;
    display: flex;
    align-items: center;
    z-index: 10;
    a {
        color: white;
        text-decoration: underline;
        &:hover,
        &:visited {
            color: #ADCCE6;
        }
    }
    .flex-item-left {
        margin: 10px 75px 10px 10%;
    }
    .flex-item-right {
        margin: 10px 10% 10px 10px;
    }
}
