{{#if (and shareTotalText shareTotal)}}
    <p class="p-l-md text-left">
        <span class="f-w-lg">{{t-plus shareTotalText count=(number-format shareTotal)}}</span>
        <span>{{t-plus "eosf.components.discoverPage.asOf"}} {{moment-format currentDate "MMMM DD, YYYY"}}</span>
    </p>
{{/if}}