<div class="osf-search">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="input-group" {{action "search" on="submit"}}>
                    <input id="searchPageFullBar" onchange={{action "updateQuery"}} name="search-placeholder" type="text" class="osf-search-input form-control" placeholder="Search">
                    <label id="searchBarLabel" class="search-label-placeholder" for="search-placeholder">Search</label>
                    <span class="input-group-btn">
                        <button type="submit" class="btn osf-search-btn"><i class="fa fa-arrow-circle-right fa-lg"></i></button>
                        <button type="button" class="btn osf-search-btn" data-toggle="modal" data-target="#search-help-modal"><i class="fa fa-question fa-lg"></i></button>
                        <button type="button" class="btn osf-search-btn" onclick={{action "toggleSearch"}}><i class="fa fa-times fa-lg"></i></button>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>
