.donate-banner {
    background: #3B9DD4;
    width: 100%;
}
.wk-1-lg {
    background: url(../assets/img/giving_tuesday_week01.png) no-repeat center top;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 13.49%;
}

.wk-1-sm {
    background: url(../assets/img/giving_tuesday_week01_mobile.png) no-repeat center top;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 22.4%;
}

.wk-2-lg {
    background: url(../assets/img/giving_tuesday_week02.png) no-repeat center top;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 13.49%;
}

.wk-2-sm {
    background: url(../assets/img/giving_tuesday_week02_mobile.png) no-repeat center top;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 22.4%;
}

.wk-3-lg {
    background: url(../assets/img/week03_dec2017.svg) no-repeat center top;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 12.5%;
}

.wk-3-sm {
    background: url(../assets/img/week03_dec2017_mobile.svg) no-repeat center top;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 22.5%;
}
