/*Background photo © Nestlé*/
.donate-banner {
    color: #FFF;
    margin-top: 50px;
}

.donate-text {
    font-weight: bold;
    a {
        color: #043348;
    }
}

.donate-banner.banner-0 {
    background: #08a3ed url(../assets/img/bg-donate-1.jpg) no-repeat center top;
    background-size: cover;
}

.donate-banner.banner-1 {
    background: #08a3ed url(../assets/img/bg-donate-2.jpg) no-repeat center top;
    background-size: cover;
}

.donate-banner.banner-2 {
    background: #08a3ed url(../assets/img/bg-donate-3.jpg) no-repeat center top;
    background-size: cover;
}

.donate-banner.banner-3 {
    background: #08a3ed url(../assets/img/bg-donate-4.jpg) no-repeat center top;
    background-size: cover;
}

.donate-banner.banner-4 {
    background: #08a3ed url(../assets/img/bg-donate-5.jpg) no-repeat center top;
    background-size: cover;
}
