<div class="file-version">
    <div><strong>ID:</strong> {{version.id}}</div>
    <div><strong>Size:</strong> {{version.size}}</div>
    <div><strong>Content type:</strong> {{version.contentType}}</div>
</div>
