<li class="file-version">
    <div><label>ID: </label>{{version.id}}</div>
    <div><label>Size: </label>{{version.size}}</div>
    <div><label>Content type: </label>{{version.contentType}}</div>
</li>
{{yield}}
