<ul class="dropdown-menu">
    {{#if showCategories}}
        {{#each categories as |category|}}
            {{#if category.title}}
                <li class='dropdown-header'>category.title</li>
            {{/if}}
            {{#each category.licenses as |license|}}
                <li>{{license.name}}</li>
            {{/each}}
        {{/each}}
    {{else}}
        {{#each licenses as |license|}}
            <li>{{license.name}}</li>
        {{/each}}
    {{/if}}
</ul>
