<div>
    {{textarea class="form-control" maxlength="500" placeholder="Add a comment" value=_commentText}}
    <button {{action 'addComment' _commentText}} class="btn btn-success">
        Add comment
    </button>
</div>