<div>
    {{textarea class="form-control" maxlength="500" placeholder=(t 'eosf.components.commenting.commentForm.addComment') value=_commentText}}
    <button {{action 'addComment' _commentText}} class="btn btn-success" disabled={{if (not _commentText) true}}>
        {{t 'eosf.components.commenting.commentForm.addComment'}}
    </button>
</div>
