/* Header panel */

.ember-share-search {
    .search-header {
        padding-top: 120px;
        background: white;
        background-size: cover;
    }
    .no-results {
        font-size: 15px ;
        color: #204762; // This color can change??
    }
    hr.results-top {
        display: block;
        height: 1px;
        border: 0px;
        border-top: 1px solid #EEEEEE;
    }
}
