<form>
    <div>
        <label>Full Name</label>
        {{validated-input model=this valuePath='fullName' placeholder='Full Name'}}
    </div>
    <div>
        <label>Email</label>
        {{validated-input model=this valuePath='username' placeholder='Email'}}
    </div>
</form>
