<div class="container-fluid">
  {{link-to 'Home' 'index' class="btn btn-default"}}
  <h2 id="title">Welcome to OSF Ember Example App</h2>
  <div class="row">
    <div class="col-md-12">
      {{outlet}}
    </div>
  </div>
</div>
