<div class="container-fluid">
    {{link-to 'Home' 'index' class="btn btn-default"}}
    <h1 id="title">Welcome to OSF Ember Example App</h1>
    <div class="row">
        <div class="col-md-12">
            {{outlet}}
        </div>
    </div>
</div>
