<div>
    <p>
        <label>Name: {{input value=name}}</label>
    </p>
    <p>
        {{#file-chooser files=files as |component|}} 
            <p>
                Drag your preregistration files here!
            </p>
            <p>
                Or choose them, if you're not into HTML5:
                {{input type='file'
                    change=(action 'onFileInputChange' target=component)}}
            </p>
            {{#if files}}
                <h4>Selected files</h4>
                <ul>
                    {{#each files as |file|}}
                        <li>{{file.name}}</li>
                    {{/each}}
                </ul>
            {{/if}}
        {{/file-chooser}}
    </p>
    <p>
        <button {{action 'preregister' name files}}>
            Submit preregistration
        </button>
    </p>
</div>
