{{outlet}}

{{title "Waffle Switch"}}
<h1> Waffle Switch Example </h1>

{{#each model as |switch|}}
    <hr>
    <div class="panel">
        SWITCH NAME: {{switch.name}}
        {{#if switch.active}}
            ACTIVE
        {{else}}
            INACTIVE
        {{/if}}
    </div>
{{/each}}
