// Overrides some of base osf-styles for the navbar osf-style/sass/_bootstrap.scss
$osf-teal-navbar: #2E6A74;
$osf-highlight-navbar: #5A8288;
$osf-dark-blue-navbar: #213948;

.new-osf-navbar-styling {
    /* Overrides overall navbar height to make shorter */
    .navbar {
        min-height: 40px;
        margin-bottom: 20px;
    }

    /* Overrides the overall navbar color */
    .navbar-inverse {
        background-color: $osf-dark-blue-navbar;
    }

    /* Vertically centers OSF Logo/OSF (the brand), enlarges OSF font */
    .navbar-brand {
        height: 20px;
        padding: 6.5px 15px;
        font-size: 22px;
        font-family: "Novecentosanswide-Book", "Open Sans", "sans-serif";
    }

    /* Override height of secondary toggle (only visible on xs screen) */
    .navbar-toggle {
        padding: 4.5px 10px;
    }

    /* Defines position of primary navigation: dropdown toggle (caret) */
    .primary-nav {
        float: left;
            /* Overrides vertical and horizontal position of dropdown caret */
        li.dropdown {
            margin-left: -40px;
            width: 10px;
            padding-top: 10px;
            margin-bottom: 0;
            list-style-type: none;
        }
    }

    /* Overrides the color and position of dropdown menu */
    .dropdown-menu {
        background-color: $osf-teal-navbar;
        top: 47px;
        left: -14.5px;

        li > a {
           font-size: 16px;
        }
    }

    /* Overrides color of dropdown list hover */
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
          background-image: -webkit-linear-gradient(top, $osf-highlight-navbar 0%, $osf-highlight-navbar 100%);
          background-image: -o-linear-gradient(top, $osf-highlight-navbar 0%, $osf-highlight-navbar 100%);
          background-image: linear-gradient(to bottom, $osf-highlight-navbar 0%, $osf-highlight-navbar 100%);
    }

    /* Adds css triangle to dropdown menu */
    .dropdown-menu:after {
        position: absolute;
        top: -4px;
        left: 14px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid $osf-teal-navbar;
        border-left: 6px solid transparent;
        content: '';
    }

    /* Defines the color, shape, vertical spacing for teal secondary navbar */
    .current-service-bar {
        color: white;
        background-color: $osf-teal-navbar;
        margin-top: 4.5px;
        border-radius: 5px;
        font-size: 16px;
        padding-top: 4px;
        padding-bottom: 4px;

        /* Overrides positioning of service links */
        .navbar-collapse {
            font-size: 14px;
            margin-top: -14px;
            margin-bottom: -20px;
        }
    }

    /* Auth navbar positioning*/
    .auth-navbar {
        padding-top: 6.5px;
        li {
          list-style-type: none;
        }
    }

    /* Overrides for signup button */
    #navbarScope .btn-top-signup {
        margin-top: -1px;
        margin-right: 0;
        margin-left: 0;
    }

    /* Overrides for Sign in button */
    #navbarScope .btn-top-login {
        margin-top: -1px;
        padding: 2px 20px;
        margin-right: 0;
        margin-left: 1px;
    }


    /***********************************************
        Responsive changes to teal secondary navbar
    ***********************************************/
    /* xs screen formatting */
    @media (max-width: 400px) {
        .current-service-bar {
            padding-left: 10px;
            width: 140px;
            margin-left: 140px;
        }
    }

     /* xs screen formatting */
    @media screen and (min-width: 401px) {
        .current-service-bar {
            width: 190px;
            padding-left: 10px;
            margin-left: 130px;
        }
    }

     /* More xs screen resizing of teal secondary navbar */
    @media (min-width: 430px) { .current-service-bar { width: 220px;} }
    @media (min-width: 460px) { .current-service-bar { width: 250px;} }
    @media (min-width: 490px) { .current-service-bar { width: 280px;} }
    @media (min-width: 520px) { .current-service-bar { width: 310px;} }
    @media (min-width: 550px) { .current-service-bar { width: 340px;} }
    @media (min-width: 580px) { .current-service-bar { width: 370px;} }
    @media (min-width: 610px) { .current-service-bar { width: 400px;} }
    @media (min-width: 640px) { .current-service-bar { width: 430px;} }
    @media (min-width: 670px) { .current-service-bar { width: 460px;} }
    @media (min-width: 700px) { .current-service-bar { width: 490px;} }
    @media (min-width: 730px) { .current-service-bar { width: 520px;} }
    @media (min-width: 760px) { .current-service-bar { width: 550px;} }


     /* sm screen formatting */
    @media screen and (min-width: 768px) {
        .current-service-bar {
            width: 350px;
        }
    }

    /* md screen formatting */
    @media screen and (min-width: 992px) {
        .current-service-bar {
            width: 550px;
        }
    }

    /* lg screen formatting */
    @media screen and (min-width: 1200px) {
        .current-service-bar {
            width:750px;
        }
    }

     /* xl screen formatting */
    @media screen and (min-width: 1600px) {
        .current-service-bar {
            width: 1150px;
            margin-left: 120px;
        }
    }
}
