<div class="files-tree">
    <label>{{model.name}}</label>
    {{#if model.isFolder}}
        <div class="folder-list">
            {{#each model.files as |file|}}
                {{files-tree model=file}}
            {{/each}}
        </div>
    {{/if}}
</div>
