// TODO: Styles lifted from OSF style.css. It is possible that some of these styles are deprecated and no longer necessary.
// TODO: Namespace these for the component

.tag:hover
{
    background-color: #337ab7;
    color: #E0EBF3;
}
.tag:hover > .tag-text, .tag:hover > a
{
    color: #E0EBF3;
}
.tag:hover > .remove-tag
{
    visibility: visible;
/* to make the center of the x not transparent */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 35%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 53%, rgba(255,255,255,0) 64%, rgba(255,255,255,0) 72%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(35%,rgba(255,255,255,1)), color-stop(44%,rgba(255,255,255,1)), color-stop(53%,rgba(255,255,255,1)), color-stop(64%,rgba(255,255,255,0)), color-stop(72%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 35%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 53%,rgba(255,255,255,0) 64%,rgba(255,255,255,0) 72%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 35%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 53%,rgba(255,255,255,0) 64%,rgba(255,255,255,0) 72%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 35%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 53%,rgba(255,255,255,0) 64%,rgba(255,255,255,0) 72%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 35%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 53%,rgba(255,255,255,0) 64%,rgba(255,255,255,0) 72%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.tag-big
{
    font-size: 13pt;
}

.tag-med
{
    font-size: 11pt;
}
.tag-container
{
    position: relative;
}

.remove-tag
{
    visibility: hidden;
    position: absolute;
    top: -5px;
    right: -5px;
    color: #AAAAAA;
}

.remove-tag.big
{
    top: -8px;
    right: -8px;
}

.remove-tag.med
{
    top: -6px;
    right: -6px;
}

#node-tags_tag:focus {
    outline: 2px solid #DEF;
}

.tag a {
    font-weight: bold;
    color: #000;
    text-decoration:none;
    font-size: 11px;
    vertical-align: top;
}

.tag {
    text-decoration:none;
    display: inline-block;
    background: #DEF;
    margin-right: 5px;
    margin-bottom:5px;
    font-size:13px;
    padding:5px;
    border:1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
}
