// TODO: Some styling duplicated from bootstrap
// TODO: Namespace these for the component
$input-border-focus: #66afe9;


.tags-widget.form-control {
    height: auto;
    padding: 0.5rem 0.5rem 0;
    cursor: text;
    // Duplicated from bootstrap
    &.focus {
        border-color: $input-border-focus;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px transparentize($input-border-focus, .6);
    }
    & > .tag {
        display: inline-block;
        padding: 0 1rem;
        margin: 0 0.5rem 0.5rem 0;
        color: black;
        background-color: #DEF;
        border-radius: 2px;
        cursor: default;
        transition: {
            property: background-color, color;
            duration: 0.1s;
            timing-function: linear;
        }
        & > b {
            display: inline-block;
            cursor: pointer;
            margin-left: 1rem;
            &:active {
                color: lighten(red, 30%);
            }
        }
        &:hover {
            color: white;
            background-color: #337ab7;
        }
    }
    & > label {
        position: relative;
        display: inline-block;
        max-width: 100%;
        margin-bottom: 0.5rem;
        font-weight: normal;
        visibility: hidden;
        overflow: hidden;
        white-space: pre;
        &:before {
            content: "";
            visibility: visible;
            padding-right: 0.5rem;
        }
        & > input {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0;
            border: none;
            visibility: visible;
            &:focus {
                outline: none;
            }
        }
    }
}