<h3>Comments for {{model.title}}</h3>

{{comment-pane
comments=comments
resource=model
addComment=(action 'addComment')
editComment=(action 'editComment')
deleteComment=(action 'deleteComment')
restoreComment=(action 'restoreComment')
reportComment=(action 'reportComment')}}